<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookTracker</title>
    <!--For awareness: Logo images were created with the assistance of Copilot AI.  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal_formatting.css') }}"/>
    {% if user_settings['Theme'] == 'light' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/light.css') }}"/>
    {% endif %}
</head>

<body>
  {% block body %}
  {% endblock %}
  <!-- Creates top section of page, divides into two sections for positioning. -->
  <div class="header">
    <section class="left_side">
        <div class="nav-buttons">
            <a href="/">🏠 Home</a>
        </div>
        <div class="help">
              {% from 'help_modal_macros.html' import help_modal_settings as help %}
                {{ help() }}
        </div>
    </section>

    <section class="right_side">
        <h1>Settings/User Functions</h1>
    </section>

      <div class="user-greeting">
          {% if user_settings['Username'] == 'Default_User' %}
            <h2>You can change your username below.</h2>
          {% else %}
            <h2>Hello {{ user_settings['Username'] }}!</h2>
          {% endif %}
      </div>
  </div>

  <div class="user-section">
      <h3>Current Settings</h3>
      <p>Current Username:
      {% if user_settings['Username'] %}
          {{ user_settings['Username'] }}
      {% endif %}
      </p>
      <p>Current Theme:
      {% if user_settings['Theme'] %}
          {{ user_settings['Theme'].title() }}
      {% endif %}
      </p>
      <div>
          <button command="show-modal" commandfor="update-settings-modal" class="style-button transition_css">Update User Settings</button>
      </div>
  </div>

  <div class="user-section">
      <h3>User Functions</h3>
      <p>There are two types of user functions, safe and dangerous.</p>
      <p>Safe functions are reversible while Dangerous functions are irreversible.</p>
      <div class="user-buttons">
          <div id="safe-functions">
              <h4>Safe Functions</h4>
              <form class="hidden" id="form-safe" method="POST">
                  <input type="hidden">
              </form>
              <div>
                  <button form="form-safe" class="style-button transition_css" type="submit" name="Dedupe">Deduplicate Books</button>
                  <button form="form-safe" class="style-button transition_css" type="submit" name="CSV_Export">Export Database (CSV)</button>
              </div>
          </div>

          <div id="danger-functions">
              <h4>Dangerous Functions</h4>
              <div>
                  <button command="show-modal" commandfor="import-confirmation-modal" class="style-button transition_css">Import Database (CSV)</button>
                  <button command="show-modal" commandfor="delete-confirmation-modal" class="delete-btn style-button transition_css">Delete Entire Database</button>
                  <button command="show-modal" commandfor="delete-cover-images-confirmation-modal" class="style-button transition_css">Mass Delete All Cover Images</button>
              </div>
          </div>

      </div>
  </div>


        <dialog id="delete-confirmation-modal">

          <h3>Delete Database</h3>
          <p><strong>THIS WILL DELETE THE WHOLE DATABASE</strong></p>
          <p>WARNING: Deleting the database is irreversible.</p>
          <p>Do you still want to delete the database?</p>

          <div class="button-align">

            <form id="delete-database" method="POST">
              <button class="yes-btn modal-button button-group" type="submit" form="delete-database" name="Delete_Database" >Yes</button>
            </form>
            <button class="no-btn modal-button button-group" commandfor="delete-confirmation-modal" command="close" >No</button>
          </div>
        </dialog>

          <dialog id="delete-cover-images-confirmation-modal">

          <h3>Mass Delete Cover Images</h3>
          <p><strong>THIS WILL DELETE ALL COVER IMAGES</strong></p>
          <p>WARNING: Deleting the all cover images is irreversible.</p>
          <p>Do you still want to delete the all cover images?</p>

          <div class="button-align">

            <form id="delete-cover-images" method="POST">
              <button class="yes-btn modal-button button-group" type="submit" form="delete-cover-images" name="Delete_Cover_Images" >Yes</button>
            </form>
            <button class="no-btn modal-button button-group" commandfor="delete-cover-images-confirmation-modal" command="close" >No</button>
          </div>
        </dialog>

        <dialog id="import-confirmation-modal">

          <h3>Import Database</h3>
          <p><strong>THIS WILL OVERWRITE THE EXISTING DATABASE</strong></p>
          <p>WARNING: Importing a database is irreversible.</p>
            <div  class="file">
                <form id="csv-import" method="POST" enctype="multipart/form-data">
                    <input class="file-button transition_css" name="CSV_Import" type="file">
                </form>
            </div>

          <div class="button-align">
              <button form="csv-import" class="yes-btn modal-button button-group" type="submit" name="CSV_Import">Submit</button>
              <button class="no-btn modal-button button-group" commandfor="import-confirmation-modal" command="close">Cancel</button>
          </div>
        </dialog>

        <dialog id="update-settings-modal">

          <h3>Change User Settings</h3>
            <form id="update-user-settings" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="Username" maxlength="30" value="{{ user_settings['Username'] }}">
                </div>
                <div>
                    <label for="theme">Theme:</label>
                    <select id="theme" class="select-theme" name="Theme">
                        <option value="{{ user_settings['Theme'] }}">Select a Theme</option>
                        <option value="dark">Dark Mode</option>
                        <option value="light">Light Mode</option>
                    </select>
                </div>
            </form>
          <div class="button-align">
            <button class="yes-btn modal-button button-group" type="submit" form="update-user-settings" name="Update">Confirm</button>
            <button class="no-btn modal-button button-group" commandfor="update-settings-modal" command="close">Cancel</button>
          </div>
        </dialog>

</body>
</html>


