# Python
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# pytest
htmlcov/
.pytest_cache/
.coverage

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE (add to your IDE folder of choice)
.idea/

# SQLite
*.sqlite
*.db

# Images
*.png
*.jpeg
*.jpg

# JSON
ol_json_cache.json
user_settings.json