.page-wrapper {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
    min-width: 1000px;
    background-color: transparent !important;
}

.book-info h3 {
    width: 490px;
}

#header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#header-title > h1{
    padding: 0;
    margin: 0;
    width: fit-content;
}

#header-purge{
    align-content: center;
    width: fit-content;
    padding-right: 10px;
}

/* Search form styling */
.search-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

/* Main styling for large buttons */
.style-button {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #6366f1;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* Hover styling for large buttons */
.style-button:hover {
    background-color: #4f46e5;
}

/* Adds smooth transition animation for hover styling */
.transition_css {
    transition: background-color 0.2s ease-in-out;
}

.book-card{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.results {
    flex: 1;
    background-color: #111827;
    padding: 2rem;
    border-radius: 12px;
    min-height: 95vh;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.help > div{
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}