<!DOCTYPE html>
<html lang="en">
<!-- DISPLAY THE USER DATA !-->
<head>
    <title> User Profile Analytics </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/analytics.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal_formatting.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dark.css' if theme_switch == '1' else 'light.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>

</head>

<!-- ###THIS IS THE BEGINNING OF THE USER PROFILE STATISTICS SECTION### -->
<body>
<main class="container">  
    <!-- Navigation link -->
    <div class="nav-buttons">
        <a href="/">🏠 Home</a>
        <div class="help">
            {% from 'help_modal_macros.html' import help_modal_dashboard as help %}
                {{ help() }}
        </div>
    </div>


    <h1>User Analytics</h1>
    <div class="user-stats">
        <div id="books-total" class="stat">
            <h3>Books in Database:</h3>
            <p class="stat-number">{{ stats['Total_Books'] }}</p>
        </div>

        <div id="books-owned" class="stat">
            <h3>Books Owned:</h3>
            <p class="stat-number">{{ stats['Total_Owned'] }}</p>
        </div>
    </div>

    <div class="side-by-side">
        <div class="stat-block">
            <div id="books-reading" class="stat">
                <h3>Books Currently Reading:</h3>
                <p class="stat-number">{{ stats['Total_Reading'] }}</p>
            </div>
            <div class="book-list">
                <ul>
                    {% for book in stats['Currently_Reading'] %}
                    <li>{{ book['Title'] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="stat-block">
            <div id="books-completed" class="stat">
                <h3>Books Completed:</h3>
                <p class="stat-number">{{ stats['Total_Completed'] }}</p>
            </div>
            <div class="book-list">
                <ul>
                    {% for book in stats['Completed_Books'] %}
                    <li>{{ book['Title'] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="stat-block">
        <h3>Most Read Genres:</h3>
        <div class="genres">
            {% for genre in stats['Genres'] %}
            <span>{{ genre[0].title() }} | {{ genre[1] }} Book(s)</span>
            {% endfor %}
        </div>
    </div>

</main>
</body>


</html>

