<!DOCTYPE html>
<html lang="en">
<!-- DISPLAY THE USER DATA !-->
<head>
    <title> User Profile Analytics </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/analytics.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dark.css' if theme_switch == '1' else 'light.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>

</head>

<!-- ###THIS IS THE BEGINNING OF THE USER PROFILE STATISTICS SECTION### -->
<body>
<main class="container">  
    <!-- Navigation link -->
    <div class="nav-buttons">
        <a href="/">🏠 Home</a>
    </div>


    <h1>User Analytics</h1>
    <div class="user-stats">
        <div id="books-total">
            <h3>Books in Database:</h3>
            <p>{{ stats['Total_Books'] }}</p>
        </div>

        <div id="books-owned">
            <h3>Books Owned:</h3>
            <p>{{ stats['Total_Owned'] }}</p>
        </div>

        <div id="books-reading">
            <h3>Books Currently Reading:</h3>
            <p>{{ stats['Total_Reading'] }}</p>
        </div>

        <div id="books-completed">
            <h3>Books Completed:</h3>
            <p>{{ stats['Total_Completed'] }}</p>
        </div>


    </div>
    <div id="genres">
        <h3>Most Read Genres:</h3>
        <div class="genres">
            {% for genre in stats['Genres'] %}
            <span>{{ genre[0].title() }} | {{ genre[1] }} Book(s)</span>
            {% endfor %}
        </div>
    </div>

</main>
</body>


</html>

