<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page metadata -->
    <meta charset="UTF-8">
    <title>Duplicate Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal_formatting.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='duplicate.css') }}"/>
    {% if user_settings['Theme'] == 'light' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/light.css') }}"/>
    {% endif %}
</head>

<body>

<main class="container">
    <!-- Navigation links -->
    <div class="nav-buttons">
        <a href="/settings">← Back</a>
        <a href="/">🏠 Home</a>
        <div class="help">
            {% from 'help_modal_macros.html' import help_modal_deduplicate as help %}
                {{ help() }}
            {% from 'theme_switch_macro.html' import theme_switch as switch %}
                {{ switch( user_settings['Theme'], user_settings['Username']) }}
        </div>
    </div>

    <h1>Duplicate Books</h1>
    <p>This page finds books that are the same, but added under different ISBN values.</p>
    <p>This allows the user to see all duplicate books in the database that can be removed.</p>

    {% if book_result['Error'] %}
    <p class="no-results">No books found.</p>
    {% else %}
    {% for book_list in book_result.values() %}

    <!-- Result block -->
    <div class="result-block">

        <!-- Title + Author -->
        <h2 class="dedupe-title">{{ book_list['Title'] }}</h2>
        {% if book_list['Author_Full_Name_2'] %}
        <div class="author">
            <h3>First Author:</h3>
            <p>{{ book_list['Author_Full_Name_1'] }}</p>
        </div>
        <div class="author">
            <h3>Second Author:</h3>
            <p>{{ book_list['Author_Full_Name_2'] }}</p>
        </div>
        {% else %}
        <div class="author">
            <h3>Author:</h3>
            <p>{{ book_list['Author_Full_Name_1'] }}</p>
        </div>
        {% endif %}

        <!-- Cards -->
        <div class="book-group">

            {% for isbn in book_list['ISBNs'] %}

            <div class="dedupe-book-card">

                <p><strong>ISBN:</strong> {{ isbn }}</p>

                <!-- Actions -->
                <div class="card-actions">

                    <a href="/book/isbn/{{ isbn }}" class="view-button transition_css">
                        View →
                    </a>

                    <button command="show-modal" commandfor="delete-confirmation-modal_{{ isbn }}"
                            class="delete-btn style-button transition_css">Delete
                    </button>
                    <dialog id="delete-confirmation-modal_{{ isbn }}">

                        <h3>Delete Book Record from Database</h3>
                        <p>WARNING: Deleting a book is irreversible.</p>
                        <p>Do you still want to delete the book?</p>

                        <div class="button-align">

                            <form id="delete_{{ isbn }}" action="/book/deduplicate" method="POST">
                                <input type="hidden" name="ISBN" value="{{ isbn }}">
                                <button type="submit" form="delete_{{ isbn }}"
                                        class="yes-btn transition_css modal-button button-group" name="delete">Yes
                                </button>
                            </form>
                            <button class="no-btn modal-button button-group" commandfor="delete-confirmation-modal_{{ isbn }}"
                                    command="close">No
                            </button>
                        </div>
                    </dialog>


                </div>

            </div>

            {% endfor %}

        </div>

    </div>

    {% endfor %}
    {% endif %}

</main>

</body>
</html>
