<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic page metadata -->
  <meta charset="UTF-8">
  <title>Duplicate Books</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal_formatting.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='duplicate.css') }}"/>

</head>

<body>

<main class="container">

  <h1>Duplicate Books</h1>

  {% for book_list in book_result.values() %}

    <!-- Result block -->
    <div class="result-block">

      <!-- Title + Author -->
      <h2>{{ book_list['Title'] }}</h2>
      {% if book_list['Author_First_Name_2'] %}
        <h3>First Author:</h3>
        <p>{{ book_list.get('Author_First_Name_1') }} {{ book_list.get('Author_Last_Name_1') }}</p>
        <h3>Second Author:</h3>
        <p>{{ book_list.get('Author_First_Name_2') }} {{ book_list.get('Author_Last_Name_2') }}</p>
      {% else %}
        <h3>Author:</h3>
        <p>{{ book_list.get('Author_First_Name_1') }} {{ book_list.get('Author_Last_Name_1') }}</p>
      {% endif %}

      <!-- Cards -->
      <div class="book-group">

        {% for isbn in book_list['ISBNs'] %}

          <div class="book-card">

            <p><strong>ISBN:</strong> {{ isbn }}</p>

            <!-- Actions -->
            <div class="card-actions">

              <a href="/book/isbn/{{ isbn }}" class="view-button">
                View →
              </a>

              <form method="POST">
                <input type="hidden" name="delete_isbn" value="{{ isbn }}">
                <button class="transition_css">Delete</button>
              </form>

            </div>

          </div>

        {% endfor %}

      </div>

    </div>

  {% endfor %}

</main>

</body>
</html>
