<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookTracker</title>
    <!--For awareness: Logo images were created with the assistance of Copilot AI.  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}"/>
</head>

<body>
  <!-- Creates top section of page, divides into two sections for positioning. -->
  <div class="Header">
    <section class="left_side">
    <img src="../static/images/BookTracker_Logo.png" alt="BookTracker Logo" class="Logo">
    </section>

    <section class="right_side">
      <H1> Welcome to Book Tracker</H1>
      <p>
        Create your own personal database using Book Tracker, making it easy to have a complete inventory of books available at your fingertips.<br><br> 
        Book Tracker gives you the option to add a book manually or through Open Library's online database.<br><br>  
        Use tags to mark books as read, owned, favorited, and more!</p>
    </section>
  </div>
  <br>
  <br>
  <!--Create table for feature logo icons and descriptions. Formatted so clicking image will take to another page on site.  -->
  <table>
    <tr>
      <th><a href="/book/add-local"><img src="../static/images/BookTracker_AddBook.png" alt="Add Book Locally" class="table_pic"></a></th>
      <th><a href="/add-openlibrary"><img src="../static/images/BookTracker_AddBook_OpenLibrary.png" alt="Add Book Open Library" class="table_pic"></a></th>
      <th><a href="/book/local-search"><img src="../static/images/BookTracker_Search.png" alt="Search Database" class="table_pic"></a></th>
      <th><a href="/dashboard"><img src="../static/images/BookTracker_User_Dashboard.png" alt="User Dashboard" class="table_pic"></a></th>
      <th><a href="/settings"><img src="../static/images/BookTracker_Settings.png" alt="Settings" class="table_pic"></a></th>
    </tr>
    <tr>
      <td>Manually Add Book</td>
      <td>Add from Open Library (Preferred)</td>
      <td>Search Your Database</td>
      <td>Personalized Dashboard</td>
      <td>Adjust User Settings</td>
    </tr>
  </table>

</body> 
</html>