<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error_page_formatting.css') }}"/>
</head>

<body>
    <div>
        <!-- Navigation buttons -->
        <div class="nav-buttons">
            <a href="/">Home</a>
        </div>
        <!--For awareness: Error message image was created with the assistance of Copilot AI.-->
        <img src="../static/images/Error500.png" alt="Error Code 500: Internal Server Error">
        <h1>Your request could not be completed.</h1>
    </div>
</body> 
</html>