<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error_page_formatting.css') }}"/>
</head>

<body>
  
  <table>
    <tr>
        <!--For awareness: Error message image was created with the assistance of Copilot AI.-->
        <th><img src="../../static/images/Error404.png" alt="Error Code 404" class="Logo"></th>
        <th>
            <H1> Oops... page not found!</H1>

            <!-- Navigation button -->
            <div class="nav-buttons">
                <h2><a href="/" class="transition_css">Return Home</a></h2>
            </div>
      </th>
    </tr>

  </table>

</body> 
</html>