<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error_page_formatting.css') }}"/>
</head>

<body>

      <table>
    <tr>
        <!--For awareness: Error message image was created with the assistance of Copilot AI.-->
        <th><img src="../../static/images/Error500.png" alt="Error Code 500:Internal Server Error" class="Logo"></th>
        <th>
            <H1> Your request could not be completed.</H1>

            <!-- Navigation button -->
            <div class="nav-buttons">
                <h2><a href="/">Return Home</a></h2>
            </div>
      </th>
    </tr>
    
    </table>

</body> 
</html>